<launch>
  <!-- <node type="rviz" name="rviz" pkg="rviz" /> -->

  <!-- <node pkg="cloud_to_image_node" type="cloud_to_image_node" name="cloud_to_image_node"/> -->

   <!-- <node pkg="tf2_ros" type="static_transform_publisher" name="tf2" args="0.0 0.0 0.0 0.0 0 0 map state" /> -->

  <!-- Start the rosbag play node -->
  <node name="rosbag_play" pkg="rosbag" type="play" output="screen" args="--clock /home/taylorlv/catkin_ws/src/cloud_to_image_node/mk_materialteknisk.bag" />

  <!-- Start the rosbag record node -->
  <node name="rosbag_record" pkg="rosbag" type="record" output="screen" args="-O final_traj.bag /trajectory" />

  <!-- Your other launch configurations and nodes go here -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="tf2" args="0.0 0.0 0.0 0.0 0 0 map state" />


</launch>
